{% extends "app/base.html" %}
{% load static %}
{% load habit_extras %}

{% block content %}
    <div class="container my-4">
        <h1 class="text-center mb-2">Weekly Habit Tracker</h1>
        <p class="text-center mb-5"><em>
            "We are what we repeatedly do. Excellence, then, is not an act, but a habit." – Aristotle
        </em></p>

        {% if habits %}
        <h5 class="text-center mb-4">My Week: {{ start_of_week|date:"F j" }} - {{ end_of_week|date:"F j" }}</h5>

        <!-- Habit Table -->
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <!-- Table Header -->
                <thead class="dark-header">
                    <tr>
                        <th>Habit</th>
                        {% for day in days_of_week %}
                            <th>{{ day|date:"D" }}</th>
                        {% endfor %}
                        <th>Goal</th>
                        <th>Streak</th>
                    </tr>
                </thead>
                <!-- Table Rows -->
                <tbody>
                    {% for habit in habits %}
                        <tr>
                            <!-- title -->
                            <td><a href="{% url 'habit-detail' habit.id %}">{{ habit.title }}</a></td>

                            <!-- checkboxes -->
                            {% for day in days_of_week %}
                                <!-- <td>
                                    <input type="checkbox" data-habit-id="{{ habit.id }}" data-date="{{ day }}"
                                    {% if habit.performances|get_item:day %} checked {% endif %}
                                    class="habit-checkbox">
                                </td> -->
                                <td>
                                    <label class="custom-checkbox">
                                        <input type="checkbox" data-habit-id="{{ habit.id }}" data-date="{{ day }}"
                                        {% if habit.performances|get_item:day %} checked {% endif %}
                                        class="habit-checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            {% endfor %}

                            <!-- count -->
                            <td id="habit-count-{{ habit.id }}">
                                {{ habit.count }} / {{ habit.goal }} {% if habit.count >= habit.goal %} &#127881; {% endif %}
                            </td>

                            <!-- streak -->
                            <td id="habit-streak-{{ habit.id }}">{{ habit.streak }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <!-- Create Habit Button -->
        <div class="ms-4">
            <a href="{% url 'habit-create' %}" class="btn btn-primary">Add Habit</a>
        </div>
    </div>


    <script type="text/javascript">
    // Function to get the CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.habit-checkbox').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                const habitId = this.dataset.habitId;
                const date = new Date(this.dataset.date);

                // Check if the date is in the future and prevent the user from checking it
                const today = new Date();
                if (date > today) {
                    this.checked = false;
                    return;
                }

                const formattedDate = date.toISOString().split('T')[0];
                const performed = this.checked;

                fetch('daily_performance/', {  // Update with the correct URL
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ habitId: habitId, date: formattedDate, performed: performed })
                })
                .then(response => response.json())
                .then(data => {
                    // Update the count
                    const elementID = `habit-count-${data.habitId}`;
                    const element = document.getElementById(elementID);
                    if (element) {
                        element.textContent = `${data.count} / ${data.goal}`;
                        // Add emoji if goal is achieved
                        element.innerHTML += data.count >= data.goal ? ' &#127881;' : '';
                    }

                    // Update the streak
                    const streakElementID = `habit-streak-${data.habitId}`;
                    const streakElement = document.getElementById(streakElementID);
                    if (streakElement) {
                        streakElement.textContent = data.streak;
                    }
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
    });
    </script>

{% endblock content %}