{% extends "app/base.html" %}
{% load habit_extras %}
{% block content %}
    <h1>Weekly Habit Tracker</h1>
    <h6 class="mb-5"><em>
        "We are what we repeatedly do. Excellence, then, is not an act, but a habit." – Aristotle
    </em></h6>

    <div class="container">
        <h5 class="text-center mb-3"> My Week: {{start_of_week|date:"F j"}} - {{end_of_week|date:"F j"}}</h5>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Habit</th>
                    {% for day in days_of_week %}
                        <th class="text-center">{{ day|date:"D" }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for habit in habits %}
                    <tr>
                        <td>{{ habit.title }}</td>
                        {% for day in days_of_week %}
                            <td>
                                <input type="checkbox" data-habit-id="{{ habit.id }}" data-date="{{ day }}"
                                {% if habit.performances|get_item:day %}
                                    checked
                                {% endif %}
                                class="habit-checkbox">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-12">
                <a href="#" class="btn btn-primary">Add Habit</a>
            </div>
        </div>
    </div>


    <script type="text/javascript">
    // Function to get the CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.habit-checkbox').forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                const habitId = this.dataset.habitId;
                const date = new Date(this.dataset.date);
                const formattedDate = date.toISOString().split('T')[0];
                const performed = this.checked;

                fetch('daily_performance/', {  // Update with the correct URL
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ habitId: habitId, date: formattedDate, performed: performed })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
    });
    </script>

{% endblock content %}