body {
    background: #eeeeee;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.nav-link {
    color: #cbd5db;
}

.dark-header th {
    background-color: #444444;
    color: #ffffff;
}

.btn-accent {
    background-color: #89a6c8;
    color: white;
}

/* ---------- HABIT TABLE FORMATTING ---------------- */
.table td {
    padding-top: 15px;  /* Increase top padding */
    padding-bottom: 15px;  /* Increase bottom padding */
}

.habit-day-col {
    width: 9%;
}

.habit-title-col {
    width: 17%;
}

.habit-count-col, .habit-streak-col {
    width: 10%;
}

/* ---------- CUSTOM CHECKBOXES FOR HABIT TABLE ---------------- */

.custom-checkbox {
    position: relative;
    display: inline-block;
    text-align: center;
}

/* hides the default checkbox and positions it over the custom
    checkbox so they look like one.
    The checkbox is still clickable but invisible. */
.custom-checkbox input {
    opacity: 0;
    position: absolute;
    height: 25px;
    width: 25px;
    left: 50%;
    margin-left: -12.5px;
    top: 50%;
    margin-top: -12.5px;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 4px;
    /* Centering the checkmark */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%); /* NOTE: most important for centering */
}

.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #0d6efd; /* Bootstrap primary color */
}

.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 8px;  /* Adjust the width of the checkmark */
    height: 15px;  /* Adjust the height of the checkmark */
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
